  .home-page {
    .banner {
      background-color:var(--dark-primary-color); 
      color: var(--light--color);
      padding: 4rem 0;
      text-align: center;
  
      .banner-container {
        max-width: 1200px;
        margin: 0 auto;
      }
  
      .banner-logo {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      .banner-text {
        font-size: 1.25rem;
        margin: 0;
      }
    }
  
    .page-container {
      max-width: 1200px; 
      margin: 0 auto; 
      padding-top: 2rem;
      
      .page-row {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }
  
      .main-content {
        flex: 3; 
        
        .feed-toggle {
          margin-bottom: 1.5rem;
  
          .feed-nav {
            display: flex;
            gap: 0.5rem;
            padding: 0;
            list-style: none;
            border-bottom: 1px solid var(--grey-line-color);
  
            .feed-nav-item {
              .feed-nav-link {
                font-size: 1rem;
                text-decoration: none;

  
                &.active {
                  color: var(--grey-color);
                  pointer-events: none;
                  opacity: 0.5;
                }
  
                &:hover {
                  color: var(--dark-primary-color);
                }
              }
            }
          }
        }
      }
      
      .card-wrapper app-article-main {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }


  